<h2>Rating Statistics</h2>

<p> Number of ratings: <%= @ratings.count %> </p>

<div class="row">
	<div class="col-sm-4">

		<h3>Best Breweries</h3>
		<%= render 'list', items: @top_breweries %>

	</div>
	<div class="col-sm-4">

		<h3>Best Beers</h3>
		<%= render 'list', items: @top_beers %>

	</div>
	<div class="col-sm-4">
		<h3>Best Styles</h3>
		<%= render 'list', items: @top_styles %>
	</div>
</div>

<h3>Most Active Users</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
			<th>Favorite Beer</th>
			<th>Prefered Style</th>
			<th>Ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @top_raters.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
				<td><%= user.favorite_beer %></td>
				<td><%= user.favorite_style.name %></td>
				<td><%= user.ratings.count%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Latest Ratings</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
			<th>Users</th>
    </tr>
  </thead>

  <tbody>
    <% @latest_ratings.each do |rating| %>
      <tr>
        <td><%= rating %></td> 
				<td><%= link_to rating.user.username, rating.user%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Rating', new_rating_path, class:'btn btn-primary' %><br>
